canvas {
    display: none;
    background-color: #a4c70b;
}

canvas.debug {
    background: url('/snake_intro.png');
    background-position: -375px -97px;
    background-size: 1709px;
}

#keyboard {
    margin-top: 20px;
    width: 320px;
}

html:not(.mobile) #keyboard {
    display: none !important;
}

#keyboard polygon, rect {
    fill: #a4c70b;
    stroke: black;
}


#keyboard polygon:active, rect:active {
    fill: #617508;
}

#keyboard g {
    pointer-events: none;
}

button.escape, button.enter {
    bottom: 0;
    width: 2.5rem;
    height: 100%;
    vertical-align: middle;
}

button.escape svg, button.enter svg {
    width: 100%;
}

button.escape {
    left: 0;
}

button.enter {
    right: 0;
}
