* {
    box-sizing: border-box;
}
html {
    font-size: 20px;
}
body {
    background-color: #819c0a;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

canvas {
    display: none;
    background-color: #a4c70b;
    width: 100%;
}

canvas.debug {
    background: url('/snake_intro.png');
    background-position: -375px -97px;
    background-size: 1709px;
}
#keyboard {
    min-height: 6rem;
    height: 7rem;
    width: 16rem;
    position: relative;
    overflow: hidden;
    background: red;
    padding: 0 2.5rem;
    margin-top: 20px;
}
#keyboard .arrows {
    overflow: hidden;
    width: 11rem;
    height: 100%;
    position: relative;
}

#keyboard button {
    font-size: inherit;
    position: absolute;
    background: #a4c70b;
    padding: 0;
    border: 1px solid black;
}

#keyboard button:focus {
    outline: none;
}

#keyboard button:active {
    background: #617508;
}

button.direction {
    height: 4.94rem;
    width: 4.94rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%) scaleX(1.571) rotate(-45deg)
}

.arrow {
    width: 1em;
    height: 1em;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

button.left {
    top: 50%;
    left: 0;
}

button.left .arrow {
    transform: rotate(90deg);
    margin-top: 40px;
    margin-left: 40px;
}

button.up {
    top: 0;
    left: 50%;
}

button.up .arrow {
    transform: rotate(180deg);
    margin-top: 40px;
    margin-left: -40px;
}

button.right {
    top: 50%;
    left: 100%;
}

button.right .arrow {
    transform: rotate(270deg);
    margin-top: -40px;
    margin-left: -40px;

}

button.down {
    bottom: -70.7%;
    left: 50%;
}

button.down .arrow {
    transform: rotate(0);
    margin-top: -40px;
    margin-left: 40px;
}

button.escape, button.enter {
    bottom: 0;
    width: 2.5rem;
    height: 100%;
    vertical-align: middle;
}

button.escape svg, button.enter svg {
    width: 100%;
}

button.escape {
    left: 0;
}

button.enter {
    right: 0;
}
