* {
    box-sizing: border-box;
}
body {
    background-color: #0e52ab;
}

#app-root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: none;
    background-color: #a4c70b;
}

canvas.debug {
    background: url('/snake_intro.png');
    background-position: -375px -97px;
    background-size: 1709px;
}
