* {
    box-sizing: border-box;
}
body {
    background-color: #a4c70b;
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: none;
}
